<div class="distribution-dimension-container">
    <div class="distribution-dimension">
        <div class="dimension-name">{{{ name }}}</div>
        <div class="dimension-average">{{{ average }}}</div>
        <div class="dimension-slices">{{{ distribution }}}</div>
        <div class="dimension-num-quantiles">{{{ numQuantiles }}}</div>
    </div>
</div>