<li class="fyre-distribution-quantile" data-value="{{{ value }}}">
    <span class="fyre-percentage" data-value="{{{ value }}}"></span>
    <label class="fyre-option">{{{ text }}}</label>
    <label class="fyre-percentage-label">{{{ value }}}%</label>
</li>
