{{^hideHeader}}
    <h2>{{ title }}</h2>
    {{#media}}
        <div class="fyre-poll-media">
            {{{ media }}}
        </div>
    {{/media}}
    <h3>{{ question }}</h3>
{{/hideHeader}}
<ul></ul>
