body {
    margin: 0px;
    padding: 0px;
}

.dimension-container {
    height: 200px;
    width: 100%;

    .dimension-distribution {
        height: 100%;
        overflow-y: hidden;

        .distribution-quantile {
            float: left;
            height: 100%;
        }
        .distribution-quantile:nth-child(even) {
            background-color: lightgrey;
        }
        .distribution-quantile:nth-child(even):hover {
            background-color: slategrey;
        }
        .distribution-quantile:nth-child(odd) {
            background-color: lavender;
        }
        .distribution-quantile:nth-child(odd):hover {
            background-color: mediumpurple;
        }
    }
}