body {
  margin: 0px;
  padding: 0px; }

.dimension-container {
  height: 200px;
  width: 100%; }
  .dimension-container .dimension-distribution {
    height: 100%;
    overflow-y: hidden; }
    .dimension-container .dimension-distribution .distribution-quantile {
      float: left;
      height: 100%; }
    .dimension-container .dimension-distribution .distribution-quantile:nth-child(even) {
      background-color: lightgrey; }
    .dimension-container .dimension-distribution .distribution-quantile:nth-child(even):hover {
      background-color: slategrey; }
    .dimension-container .dimension-distribution .distribution-quantile:nth-child(odd) {
      background-color: lavender; }
    .dimension-container .dimension-distribution .distribution-quantile:nth-child(odd):hover {
      background-color: mediumpurple; }
